name: CI Storage Usage Example

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get or create the storage directory
        run: ./ci-storage get

      - name: Use, update or create some data
        run: node example/increment-count.js "$(./ci-storage path)/data.json"

      - name: Persist changes to storage
        run: ./ci-storage persist
